################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/ATMO/v15/ipch/AutoPCH/2afece78f243761a/CAPTEUR.ipch
